.center{ text-align: center;color: red;}
h3 {color: rgb(51, 24, 77); }
table, th, td {background-color: powderblue;border: 1pxsolid black;}
p{ color: rgb(80, 99, 92); background-color: rgb(107, 104, 99);}